body {
    background-color: powderblue;
}
h1   {
color: blue;
}
p    {
color: red;
}
div {
display:inline-block;
}
h1 > div > img {
  width: 50px;
  height : 50px;
  max-height: 100%;
  max-width: 100%;
  block : inline;
}
.validationError{
color:red;
}